<launch>
  <rosparam file="$(find stingray_hw_control)/config/config.yaml"/>
  <arg name="model" default="$(find virtualStingray_description)/urdf/robot_simplified.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="virtualStingray/rviz/urdf.rviz" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
  respawn="false" output="screen" ns="/stingray" args="actuator1"/>
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  <node name="control_node" pkg="stingray_hw_control" type="control_node" output="screen"/>
  <remap from="joint_states/" to="/stingray/joint_states" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster"  args="1 0 0 0 0 0 1 /world /map 100"/>
</launch>
